h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 285px;
}
body {
    background-color: rgb(232, 237, 205);
}
h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: hotpink;
}
.center-email {
   text-align: center;
}
.center-discord {
    position: relative;
    margin-top: -10px;
    text-align: center;
}
.center-hobbies {
    text-align: center;
}

ul {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    border-style: dashed;
}